# Dependencies
node_modules

# Build output
dist
.vite

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Documentation
*.md

# Logs
*.log

# Testing
coverage

# Temporary
tmp
.DS_Store
